html {
  font-family: 'Helvetica', sans-serif;
}

body {
  box-sizing: border-box;
  color: #333;
  font-weight: 100;
  width: 98%;
  height: 100%;
  max-width: 120em;
  margin: 0 auto;
  margin-top: 2%;
  background-color: white;
}

img {
  width: 50px;
  margin: 0 auto;
  margin-top: 4rem;
  display: block;
  color: blue !important;
  filter: invert(0.2) sepia(1) saturate(5) hue-rotate(175deg);
}

#count {
  margin: 0 auto;
  margin-top: 4rem;
  margin-bottom: 2rem;
  text-align: center;
  border-bottom: 1px solid blue;
  display: block;
  width: 80px;
}
.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 0rem;
  padding-top: 0rem;
  border: 1px solid black;
  box-shadow: 1px 2px 2px blue;
}

div:focus {
  outline: none;
}

#top-bar {
  height: 6px;
  width: 100%;
  padding: 0;
  margin: 0;
}
.top-bar-light {
  background: linear-gradient(to right, black, blue);
}

.top-bar-dark {
  background: linear-gradient(to right, white, blue);
}

#heading {
  font-size: 32px;
  padding-top: 30px;
  width: 80%;
  margin: 0 auto;
  border-bottom: 1px dotted blue;
}

#content {
  padding-top: 3rem;
  padding-bottom: 3rem;
  font-size: 18px;
  min-height: 200px;
  width: 80%;
  margin: 0 auto;
}
.dark {
  background-color: black;
  color: white;
}

button {
  margin-left: 1rem;
  border: 1px dashed green;
  border-radius: 12px;
  padding: 0.5rem;
  padding-bottom: 0.6rem;
}
button:focus {
  outline: none;
}

@media screen and (max-width: 647px) {
  .container {
    margin: 24px;
  }
}
